.App {
  font-family: sans-serif;
  text-align: center;
}

.slick-slider {
  overflow: hidden;
  margin: 30px auto 50px;
}

.slick-list {
  margin: 0 -10px;
  height: 800px !important; 
}

.slick-slide {
  padding: 0 40px;
}

.slick-slide.slick-center {
  transform: scale(1.3);
  margin-left: auto;
  margin-right: auto;
}

.container {
  padding: 2px 16px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #fce000 !important;
}

