.App {
  font-family: sans-serif;
  text-align: center;
}

.slick-slider {
  overflow: hidden;
  margin: 30px auto 50px;
}

.slick-list {
  margin: 0 -10px;
  height: 1000px !important; 
}

.slick-slide {
  padding: 0 40px;
  margin-top: 50px;
}

.slick-slide.slick-center {
  transform: scale(1.3);
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.container {
  padding: 2px 16px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #BED1AA !important;
  width: 100%;
  border: none;
  font-family: 'Nunito';
}

.card {
  background: #F7FBEC;
  border-radius: 14px;
}

.card-title {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #7EA200;
  height: 80px;
}

.card-text {
  font-family: 'Nunito';
  font-style: normal;
  text-align: center;
  color: #777F00;
  height: 100px;
  overflow-y: scroll;
}

.card-img, .card-img-bottom, .card-img-top {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  border-radius: 16px;
  margin-top: 5%;
}

.card-subtitle {
  text-align: center;
  color: #575C07;
  font-family: 'Nunito';
  margin-bottom: 5%;
  font-weight: bold;
}

.card-footer:last-child {
  text-align: center;
  font-family: 'Nunito';
}